name: test

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build
        uses: docker/build-push-action@v2
        with:
          tags: debug
          load: true # make the image available locally

      - name: Test curl
        run: docker run --rm debug curl google.com

      - name: Test dig
        run: docker run --rm debug dig google.com

      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v5

      - name: Push with branch tag
        if: steps.branch-name.outputs.is_default == 'false'
        uses: docker/build-push-action@v2
        with:
          tags: ghcr.io/patrickhoefler/debug:${{ steps.branch-name.outputs.current_branch }}
          push: true

      - name: Push with latest tag
        if: steps.branch-name.outputs.is_default == 'true'
        uses: docker/build-push-action@v2
        with:
          tags: ghcr.io/patrickhoefler/debug:latest
          push: true
