name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@8b122486cedac8393e77aa9734c3528886e4a1a8 # tag=v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@dc7b9719a96d48369863986a06765841d7ea23f6 # tag=v2

      - name: Build
        uses: docker/build-push-action@e551b19e49efd4e98792db7592c17c09b89db8d8 # tag=v3
        with:
          tags: debug
          load: true # make the image available locally

      - name: Test curl
        run: docker run --rm debug curl google.com

      - name: Test dig
        run: docker run --rm debug dig google.com

      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@dc2e78ac9284175fdc0f2d505d8b49ef99632ea8 # tag=v5

      - name: Login to GitHub Container Registry
        uses: docker/login-action@49ed152c8eca782a232dede0303416e8f356c37b # tag=v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push with latest tag
        if: steps.branch-name.outputs.is_default == 'true'
        uses: docker/build-push-action@e551b19e49efd4e98792db7592c17c09b89db8d8 # tag=v3
        with:
          tags: ghcr.io/${{ github.repository }}:latest
          push: true
